body{
    margin:0;
    padding:0;
    line-height: 1.5;
    position: relative;
    color:rgb(255 255 255);
    font-family: Arial, Helvetica, sans-serif;
   

}
/*text to prevent horizontal scrolling*/
html{
    overflow-x: hidden;
}

/*pseudo tag is used for better styling*/
body::before {
    content: "";/*It is added so that */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Media/backgroundimage.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
}

header {
    padding:21px;
    position:fixed;
    width:100%;
    top:0;
    z-index: 10001;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;/*new*/
}

.leet{
    flex:1;
}

.leet ul{
    list-style-type: none;
    padding:0;
    margin:0;
    text-align:right;
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;/*to wrap the list items in the container*/
    width: 100%;/*makes width of nav-bar to full*/
    box-sizing: border-box;/*adds border and padding in the elemets height and width */
}

.leet ul li {
    display: inline;
    margin-right:21px;
    position: relative;
}
.leet ul li a{
    text-decoration: none;
    position:relative;
    color:rgb(254, 253, 247);
    padding:6px 11px;
}
.leet ul li a::after {
    content: "";
    display: block;
    background-color: #09c08f;
    width: 0;
    height:3px;
    position:absolute;
    left:50%;
    bottom:-5px;
    transform: translateX(-51%);
    transition: width 0.3s;
}

.leet ul li a:hover::after {
    width:100%;
}

main{
    margin-top: 101px;
    text-align: center;
    padding: 21px;
}

.Football{
    font-size: 2.5em;
   animation: blink 1s infinite;


}
/*code for animation of the big text appearing at the screen*/
@keyframes blink  {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}
   
.Book{
    background-color: transparent;
    border: 3px solid #13c697;
    padding: 9px 19px;
    font-size: 1.5em;
    border-radius: 6px;
    color:#fff;
}
.Book a{
    text-decoration: none;
    color: aliceblue;
}
.copy {
    font-size:1.5em;
    margin-bottom:19px;
}
.MainIntro p{
    font-size: 1.1em;
    margin-bottom: 31px;
}
/*Styling the footer page */
.pagefooter{
    background-color: rgb(20 35 89 / 70%);
    border-top:  2px solid #ff0026;
    padding:11px;
    text-align: center;
    position: absolute;
    width:100%;
    top:210%;/*to adjust the footer  at the bottom*/
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 4px rgba(0 0 0 0.2);
    box-sizing: border-box;/*it tries to include padding and border box*/
}

/*Media query for making the site responsive*/
@media only screen and (max-width:768px) {
   
    .leet ul{
        display:none; /*this hides the menu*/
        flex-direction: column;/*Items are stuck vertically*/
        width:100%;/*it makes the menu for whole screen*/
        box-sizing: border-box;/*ensures padding and box sizing*/
    }
    #leet-toggle{
        display: none;/*This hides the checkbox */
    }
    .hamburger{
        display: block;/*This shows the hamburger icon*/
        cursor:pointer;
        padding:11px;
    }
    .bar {
        display: block;/*It styles the three bars in hamburger icon*/
        width:24px;
        height:3px;
        background-color: #fff;
        margin: 4px auto;
        transition: transform 0.3s ease;
    
    }
    /*It shows the menu when checkbox gets ticked*/
    #leet-toggle:checked ~ nav ul {
        display: flex; /*Shows menu when clicked*/
        flex-direction: column;
        position:fixed;
        background-color: rgba(0,0,0,0.7);
        z-index:998;
        width: 100%;/*making menu visible all the screen*/
        text-align: left;/*aligning text to the left*/
        padding: 0;
        box-sizing: border-box;/*including padding and border in entire screen*/
        overflow-x: hidden;/*To prevent horizontal scrolling*/
    }
    /*It changes the first bar to X symbol to cut*/
    #leet-toggle:checked + header .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);

    }
    /*It hides the second bar*/
    #leet-toggle:checked + header .bar:nth-child(2) {
        opacity: 0;
    }
    /*It changes the third bar to make X icon*/
    #leet-toggle:checked + header .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}
/*to hide check-box used for making hamburger icon*/

@media only screen and (min-width:769px){
    #leet-toggle,
    .hamburger {
        display: none;
    }
    .leet ul {
        display: flex;
    }
}

